.build
BUILD/
projectfiles
*.py*

mbed-os/
nanopb/
nordic-nrf24l01/
sensor-data-protocol/
ssl-kicker/
ssl-mainboard/
zest-core-stm32l4a6rg/
swo/
tmc4671_api
nrf24l01-rf-app/

# Do NOT ignore files below
